# -----------------------------
# R / RStudio
# -----------------------------
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# -----------------------------
# Quarto
# -----------------------------
.quarto/
_site/

# -----------------------------
# Betriebssystem
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs / temporäre Dateien
# -----------------------------
*.log
*.aux
*.out
*.toc
*.synctex.gz

# -----------------------------
# Rohdaten (nie ins Repo)
# -----------------------------
data/raw/
/.quarto/
**/*.quarto_ipynb
